body {
    background-color: rgb(63, 0, 104);
    margin: 0px 0px;
}

main {
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    background-color: aliceblue;
    height: 85px;
    align-items: center;
    margin-bottom: 120px;
}

.cabecalho p {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    color: rgb(18, 120, 255);
}

.logo {
    margin-left: 12px;
    margin-right: 30px;
}

.table {
    display: flex;
    border-radius: 8px;
}

.coluna {
    display: block;
    margin: 0px 0px;
    padding: 0px 0px;
    
}

.espaco {
    display: flex;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin:5px 3px;
    align-items: center;
    justify-content: center;
}


